@import url("../../assets/css/variable.css");

.hero-section{
    height: 600px;
    background: var(--hero-linear), url("images/hero.png") center no-repeat;
    background-size: cover;
}

.hero-section h2{
    font-size: 55px;
}
