:root{
    
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #6D6E71;
    --color-orange: #E7770D;
    --color-dark-blue: #271555;
    --color-blue-bg: #072F57;
    --color-red: #F61C0D;

    --hero-linear: linear-gradient(356deg, rgba(7, 47, 87, 0.75) 50.8%, rgba(7, 47, 87, 0) 94.58%),
    linear-gradient(0deg, rgba(7, 47, 87, 0.45), rgba(7, 47, 87, 0.45));
}