@import url('../../assets/css/variable.css');

.navbar{
    background-color: var(--color-white);
}

.navbar .nav-link{
    color: var(--color-grey);
}

.navbar .navbar-toggler{
    box-shadow: none !important;
}

.navbar .nav-link .arrow-down-icon{
    font-size: 12px;
    margin-left: 1px;
    margin-top: -2px;
}

.navbar .login-btn{
    padding: 10px 30px;
    width: 190px;
}