@import url('../../assets/css/variable.css');

.work-card{
    padding: 60px;
    min-height: 285px;
}

.work-card.dark{
    background-color: var(--color-light-bg);
}

.work-card img{
    width: 75px;
    height: 75px;
}

@media screen and (max-width: 768px){
    .work-card{
        min-height: 250px;
    }
}

@media screen and (max-width: 576px){
    .work-card{
        padding: 30px;
        min-height: unset;
    }
    .work-card img{
        width: 50px;
        height: 50px;
    }
}