@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('./components/Navbar/Navbar.css');
@import url('./components/Hero/Hero.css');
@import url('./components/SearchPanel/SearchPanel.css');
@import url('./components/About/About.css');
@import url('./components/Video-Banner/VideoBanner.css');
@import url('./components/BannerTabs/BannerTabs.css');
@import url('./components/Contact/Contact.css');
@import url('./components/Works/Works.css');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}

.section-padding{
    padding: 60px 0px;
}